$gray: #707070;
$white:#FFFFFF;
$dark: #0F434C;

$primary: #00A2E0;
$secondary: #F5752F;

$sans-serif: 'Montserrat',sans-serif;
$serif: 'Roboto Slab',serif;

// Devices --------------------------------//

// Setting iPhone 6 size as minimum
$mobile: 375px;
$mobileLarge: 425px;
$tablet: 768px;
$laptop: 1024px;