$gray: #707070;
$white:#FFFFFF;
$dark: #0F434C;

$primary: #00A2E0;
$secondary: #F5752F;

$sans-serif: 'Montserrat',sans-serif;
$serif: 'Roboto Slab',serif;

// Devices --------------------------------//

$mobile: 320px;
$mobile-medium: 375px;
$mobile-large: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-large: 1440px;