<!DOCTYPE html>
<html>

<head>
    <title>Hubspot Web Exercise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/main.css">

    <% include src/views/partials/_fonts.ejs %>

</head>

<body>

<div class="topnav">
    <a class="active" href="#">Hubspot</a>
    
</div>

    <% include src/views/partials/_testimonial %>

    <!-- <% include src/views/partials/_cta %> -->

    <% include src/views/partials/_filterable-content %>

    <script src="assets/js/main.js"></script>
</body>

</html>