<section class="fc-section fc-filter">

	<div class="fc-inner">
		<div class="fc-filter--header">

			<div lass="fc-filter--options">
				<div class="fc-filter--row">

					<div class="fc-filter--choice genre">
						<span>Genre</span>
						<div class="fc-choice--dropdown genre" style="display:none"></div>
					</div>

					<div class="fc-filter--choice year">
						<span>Year</span>
						<div class="fc-choice--dropdown year" style="display:none"></div>
					</div>

					<div class="fc-filter--search">
						<input id="search-input" type="text">
					</div>
				</div>

				<div class="fc-filter--row">

					<div class="fc-filter--radio">
						<input type="radio" name="mediatype" id="movies-radio">
						<label for="movies-radio">Movies</label>
					</div>

					<div class="fc-filter--radio">
						<input type="radio" name="mediatype" id="books-radio">
						<label for="books-radio">Books</label>
					</div>

					<div class="fc-filter--clear">
						<a id="clear-filter" href="#">CLEAR FILTERS</a>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="fc-inner">

		<div class="fc-filter--list">
			<div class="fc-filter--row">
				<ul id="data-grid">

				</ul>
			</div>
		</div>

	</div>
</section>